.all{
  height: 100vh;
  width: 100% ;
  background: black;
}
.all div{
  float: left;
  margin: 20px;
  display: inline-block;
  background: white;
  width: 150px;
  height: 150px;
}
.all h1{
  font-size: 20px;
}
.a-enter-vr-button{
  top:100px;
  position: inherit;
}
@@keyframes fade {
  0%{opacity: 1; }
  100%{opacity: 0; }
}
